
// Colors
$grey: #dddddd;
$dark-grey: #444444;
$white: #ffffff;

// Font Size
$smallest-font-size: 10px;
$small-font-size: 12px;
$base-font-size: 14px;
$large1-font-size: 18px;
$large2-font-size: 22px;
$body-default-font-family: Helvetica, Arial, sans-serif;
// Spacing
$s-size: 10px;
$m-size: 15px;
$l-size: 30px;
$xl-size: 45px;
$desktop-breakpoint: 450px;